.navbar
{
    background-image: -webkit-linear-gradient(280deg, rgb(53, 35, 132), rgb(255, 0, 191));
}
.navbar-nav
{
    padding-left: 800px;
}
.jumbotron
{
    background-color: transparent;
    padding-left: 800px;
}
.event
{
    height: 400px;
    background-color: grey;
}
a,strong{
    color: white;
}
.nav-item
{
    color: white;
}
.person
{
    height: auto;
    background-color: grey;
}